body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2576px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:120px;
  top:195px;
  width:193px;
  height:90px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:90px;
}
#u1 {
  position:absolute;
  left:2px;
  top:37px;
  width:189px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:139px;
  top:215px;
  width:32px;
  height:36px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:36px;
}
#u3 {
  position:absolute;
  left:2px;
  top:10px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:201px;
  top:218px;
  width:74px;
  height:49px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:49px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:130px;
  top:169px;
  width:193px;
  height:19px;
  font-size:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:19px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:201px;
  top:253px;
  width:97px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:417px;
  top:99px;
  width:360px;
  height:640px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u11 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:417px;
  top:123px;
  width:360px;
  height:320px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:320px;
}
#u13 {
  position:absolute;
  left:2px;
  top:152px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:523px;
  top:147px;
  width:149px;
  height:22px;
  font-size:18px;
  color:#000000;
  text-align:center;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:22px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:525px;
  top:208px;
  width:152px;
  height:152px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:152px;
}
#u17 {
  position:absolute;
  left:2px;
  top:68px;
  width:148px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:665px;
  top:220px;
  width:103px;
  height:10px;
}
#u18_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u18_end {
  position:absolute;
  left:86px;
  top:-5px;
  width:18px;
  height:20px;
}
#u18_line {
  position:absolute;
  left:0px;
  top:5px;
  width:103px;
  height:1px;
}
#u19 {
  position:absolute;
  left:417px;
  top:99px;
  width:360px;
  height:25px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:25px;
}
#u20 {
  position:absolute;
  left:2px;
  top:4px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:730px;
  top:104px;
  width:37px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:695px;
  top:106px;
  width:22px;
  height:12px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:12px;
}
#u24 {
  position:absolute;
  left:2px;
  top:-2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:695px;
  top:106px;
  width:16px;
  height:12px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:12px;
}
#u26 {
  position:absolute;
  left:2px;
  top:-2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:692px;
  top:108px;
  width:4px;
  height:8px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:8px;
}
#u28 {
  position:absolute;
  left:2px;
  top:-4px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:421px;
  top:60px;
  width:97px;
  height:24px;
  font-size:20px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:24px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:976px;
  top:65px;
  width:97px;
  height:24px;
  font-size:20px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:24px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:737px;
  top:142px;
  width:24px;
  height:24px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u34 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:764px;
  top:148px;
  width:177px;
  height:10px;
}
#u35_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u35_end {
  position:absolute;
  left:160px;
  top:-5px;
  width:18px;
  height:20px;
}
#u35_line {
  position:absolute;
  left:0px;
  top:5px;
  width:177px;
  height:1px;
}
#u36 {
  position:absolute;
  left:417px;
  top:689px;
  width:360px;
  height:50px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:50px;
}
#u37 {
  position:absolute;
  left:2px;
  top:17px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:435px;
  top:706px;
  width:85px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:417px;
  top:640px;
  width:360px;
  height:50px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:50px;
}
#u41 {
  position:absolute;
  left:2px;
  top:17px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:435px;
  top:657px;
  width:29px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:613px;
  top:658px;
  width:106px;
  height:16px;
  text-align:right;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:16px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:837px;
  top:247px;
  width:113px;
  height:48px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:48px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:566px;
  top:397px;
  width:71px;
  height:71px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:71px;
}
#u49 {
  position:absolute;
  left:2px;
  top:28px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:584px;
  top:415px;
  width:34px;
  height:34px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u51 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:578px;
  top:477px;
  width:101px;
  height:19px;
  font-size:16px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:19px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:643px;
  top:256px;
  width:177px;
  height:10px;
}
#u54_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u54_end {
  position:absolute;
  left:160px;
  top:-5px;
  width:18px;
  height:20px;
}
#u54_line {
  position:absolute;
  left:0px;
  top:5px;
  width:177px;
  height:1px;
}
#u55 {
  position:absolute;
  left:428px;
  top:134px;
  width:30px;
  height:30px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u56 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:960px;
  top:99px;
  width:360px;
  height:640px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u58 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:960px;
  top:235px;
  width:360px;
  height:50px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:50px;
}
#u60 {
  position:absolute;
  left:2px;
  top:17px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:960px;
  top:284px;
  width:360px;
  height:50px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:50px;
}
#u62 {
  position:absolute;
  left:2px;
  top:17px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:980px;
  top:254px;
  width:57px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u65 {
  position:absolute;
  left:1240px;
  top:254px;
  width:57px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u67 {
  position:absolute;
  left:980px;
  top:301px;
  width:57px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u69 {
  position:absolute;
  left:984px;
  top:676px;
  width:312px;
  height:50px;
  font-size:16px;
  color:#FF0000;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:50px;
}
#u70 {
  position:absolute;
  left:2px;
  top:16px;
  width:308px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:960px;
  top:186px;
  width:360px;
  height:50px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:50px;
}
#u72 {
  position:absolute;
  left:2px;
  top:17px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:980px;
  top:205px;
  width:57px;
  height:16px;
  font-size:14px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u75 {
  position:absolute;
  left:1237px;
  top:205px;
  width:57px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u77 {
  position:absolute;
  left:1232px;
  top:300px;
  width:43px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u79 {
  position:absolute;
  left:960px;
  top:99px;
  width:360px;
  height:27px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:27px;
}
#u80 {
  position:absolute;
  left:2px;
  top:6px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:1272px;
  top:104px;
  width:37px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u83 {
  position:absolute;
  left:1238px;
  top:106px;
  width:22px;
  height:13px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:13px;
}
#u84 {
  position:absolute;
  left:2px;
  top:-2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:1238px;
  top:106px;
  width:16px;
  height:13px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:13px;
}
#u86 {
  position:absolute;
  left:2px;
  top:-2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:1234px;
  top:109px;
  width:4px;
  height:9px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:9px;
}
#u88 {
  position:absolute;
  left:2px;
  top:-4px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:960px;
  top:333px;
  width:360px;
  height:54px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:54px;
}
#u90 {
  position:absolute;
  left:2px;
  top:19px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:980px;
  top:352px;
  width:57px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u93 {
  position:absolute;
  left:1228px;
  top:342px;
  width:71px;
  height:33px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:33px;
}
#u94 {
  position:absolute;
  left:2px;
  top:8px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:1263px;
  top:342px;
  width:36px;
  height:33px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:33px;
}
#u96 {
  position:absolute;
  left:2px;
  top:8px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:960px;
  top:126px;
  width:360px;
  height:54px;
  font-size:18px;
  color:#000000;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:54px;
}
#u98 {
  position:absolute;
  left:2px;
  top:16px;
  width:356px;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:980px;
  top:136px;
  width:30px;
  height:30px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u100 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:1275px;
  top:294px;
  width:30px;
  height:30px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u102 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:1344px;
  top:349px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u105 {
  position:absolute;
  left:721px;
  top:650px;
  width:30px;
  height:30px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u106 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:721px;
  top:699px;
  width:30px;
  height:30px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u108 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:960px;
  top:386px;
  width:360px;
  height:50px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:50px;
}
#u110 {
  position:absolute;
  left:2px;
  top:17px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:980px;
  top:403px;
  width:57px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u112 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u113 {
  position:absolute;
  left:1275px;
  top:396px;
  width:30px;
  height:30px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u114 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:537px;
  top:179px;
  width:119px;
  height:16px;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:16px;
}
#u116 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  white-space:nowrap;
}
#u117 {
  position:absolute;
  left:1455px;
  top:100px;
  width:360px;
  height:640px;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u118 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:1455px;
  top:100px;
  width:360px;
  height:25px;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:25px;
}
#u120 {
  position:absolute;
  left:2px;
  top:4px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:1767px;
  top:106px;
  width:37px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
}
#u122 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u123 {
  position:absolute;
  left:1733px;
  top:108px;
  width:22px;
  height:12px;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:12px;
}
#u124 {
  position:absolute;
  left:2px;
  top:-2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:1733px;
  top:108px;
  width:16px;
  height:12px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:12px;
}
#u126 {
  position:absolute;
  left:2px;
  top:-2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:1729px;
  top:110px;
  width:4px;
  height:8px;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:8px;
}
#u128 {
  position:absolute;
  left:2px;
  top:-4px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:1455px;
  top:125px;
  width:360px;
  height:54px;
  font-size:18px;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:54px;
}
#u130 {
  position:absolute;
  left:2px;
  top:16px;
  width:356px;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:1453px;
  top:68px;
  width:141px;
  height:24px;
  font-size:20px;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:24px;
}
#u132 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:1471px;
  top:135px;
  width:30px;
  height:30px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u134 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u135 {
  position:absolute;
  left:1455px;
  top:251px;
  width:360px;
  height:58px;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:58px;
}
#u136 {
  position:absolute;
  left:2px;
  top:21px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u137 {
  position:absolute;
  left:1535px;
  top:267px;
  width:85px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
}
#u138 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u139 {
  position:absolute;
  left:1479px;
  top:262px;
  width:38px;
  height:38px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
#u140 {
  position:absolute;
  left:2px;
  top:14px;
  width:34px;
  word-wrap:break-word;
}
#u141 {
  position:absolute;
  left:1535px;
  top:284px;
  width:57px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u142 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u143 {
  position:absolute;
  left:1771px;
  top:270px;
  width:22px;
  height:22px;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u144 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u145 {
  position:absolute;
  left:1455px;
  top:308px;
  width:360px;
  height:58px;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:58px;
}
#u146 {
  position:absolute;
  left:2px;
  top:21px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u147 {
  position:absolute;
  left:1535px;
  top:324px;
  width:85px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
}
#u148 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u149 {
  position:absolute;
  left:1479px;
  top:319px;
  width:38px;
  height:38px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
#u150 {
  position:absolute;
  left:2px;
  top:14px;
  width:34px;
  word-wrap:break-word;
}
#u151 {
  position:absolute;
  left:1535px;
  top:341px;
  width:57px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u152 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u153 {
  position:absolute;
  left:1771px;
  top:327px;
  width:22px;
  height:22px;
}
#u153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u154 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u155 {
  position:absolute;
  left:1455px;
  top:365px;
  width:360px;
  height:58px;
}
#u155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:58px;
}
#u156 {
  position:absolute;
  left:2px;
  top:21px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u157 {
  position:absolute;
  left:1535px;
  top:381px;
  width:85px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
}
#u158 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u159 {
  position:absolute;
  left:1479px;
  top:376px;
  width:38px;
  height:38px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
}
#u159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
#u160 {
  position:absolute;
  left:2px;
  top:14px;
  width:34px;
  word-wrap:break-word;
}
#u161 {
  position:absolute;
  left:1535px;
  top:398px;
  width:57px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u162 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u163 {
  position:absolute;
  left:1771px;
  top:384px;
  width:22px;
  height:22px;
}
#u163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u164 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u165 {
  position:absolute;
  left:1479px;
  top:201px;
  width:312px;
  height:32px;
}
#u165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:32px;
}
#u166 {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  word-wrap:break-word;
}
#u167 {
  position:absolute;
  left:1771px;
  top:270px;
  width:22px;
  height:22px;
}
#u167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u168 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u169 {
  position:absolute;
  left:1767px;
  top:144px;
  width:27px;
  height:16px;
  color:#CCCCCC;
}
#u169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u170 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u171 {
  position:absolute;
  left:1919px;
  top:282px;
  width:242px;
  height:174px;
}
#u171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:174px;
}
#u172 {
  position:absolute;
  left:2px;
  top:79px;
  width:238px;
  visibility:hidden;
  word-wrap:break-word;
}
#u173 {
  position:absolute;
  left:1919px;
  top:406px;
  width:242px;
  height:10px;
}
#u173_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u173_end {
  position:absolute;
  left:225px;
  top:-5px;
  width:18px;
  height:20px;
}
#u173_line {
  position:absolute;
  left:0px;
  top:5px;
  width:242px;
  height:1px;
}
#u174 {
  position:absolute;
  left:2029px;
  top:414px;
  width:10px;
  height:41px;
}
#u174_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u174_end {
  position:absolute;
  left:-5px;
  top:24px;
  width:20px;
  height:18px;
}
#u174_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:41px;
}
#u175 {
  position:absolute;
  left:2077px;
  top:426px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u176 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u177 {
  position:absolute;
  left:1963px;
  top:424px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u178 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u179 {
  position:absolute;
  left:1974px;
  top:338px;
  width:145px;
  height:19px;
  font-size:16px;
}
#u179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:19px;
}
#u180 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u181 {
  position:absolute;
  left:155px;
  top:230px;
  width:32px;
  height:36px;
}
#u181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:36px;
}
#u182 {
  position:absolute;
  left:2px;
  top:10px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u183 {
  position:absolute;
  left:130px;
  top:315px;
  width:262px;
  height:48px;
}
#u183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:48px;
}
#u184 {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  word-wrap:break-word;
}
#u185 {
  position:absolute;
  left:109px;
  top:215px;
  width:20px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u186 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u187 {
  position:absolute;
  left:100px;
  top:315px;
  width:20px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u188 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u189 {
  position:absolute;
  left:120px;
  top:381px;
  width:193px;
  height:90px;
}
#u189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:90px;
}
#u190 {
  position:absolute;
  left:2px;
  top:37px;
  width:189px;
  visibility:hidden;
  word-wrap:break-word;
}
#u191 {
  position:absolute;
  left:139px;
  top:401px;
  width:32px;
  height:36px;
}
#u191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:36px;
}
#u192 {
  position:absolute;
  left:2px;
  top:10px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u193 {
  position:absolute;
  left:201px;
  top:404px;
  width:74px;
  height:49px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:49px;
}
#u194 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u195 {
  position:absolute;
  left:201px;
  top:439px;
  width:97px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:16px;
}
#u196 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  word-wrap:break-word;
}
#u197 {
  position:absolute;
  left:155px;
  top:416px;
  width:32px;
  height:36px;
}
#u197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:36px;
}
#u198 {
  position:absolute;
  left:2px;
  top:10px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u199 {
  position:absolute;
  left:507px;
  top:175px;
  width:20px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u200 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u201 {
  position:absolute;
  left:456px;
  top:762px;
  width:305px;
  height:57px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:57px;
}
#u202 {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  word-wrap:break-word;
}
#u203 {
  position:absolute;
  left:428px;
  top:760px;
  width:20px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u204 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u205 {
  position:absolute;
  left:456px;
  top:855px;
  width:205px;
  height:16px;
}
#u205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:16px;
}
#u206 {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  white-space:nowrap;
}
#u207 {
  position:absolute;
  left:456px;
  top:829px;
  width:138px;
  height:16px;
}
#u207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:16px;
}
#u208 {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  white-space:nowrap;
}
#u209 {
  position:absolute;
  left:456px;
  top:881px;
  width:420px;
  height:16px;
}
#u209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:16px;
}
#u210 {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  white-space:nowrap;
}
#u211 {
  position:absolute;
  left:456px;
  top:907px;
  width:420px;
  height:16px;
}
#u211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:16px;
}
#u212 {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  white-space:nowrap;
}
#u213 {
  position:absolute;
  left:984px;
  top:681px;
  width:20px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u214 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u215 {
  position:absolute;
  left:1001px;
  top:762px;
  width:305px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:19px;
}
#u216 {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  word-wrap:break-word;
}
#u217 {
  position:absolute;
  left:973px;
  top:760px;
  width:20px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u218 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u219 {
  position:absolute;
  left:1741px;
  top:140px;
  width:20px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u220 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u221 {
  position:absolute;
  left:1497px;
  top:761px;
  width:305px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:19px;
}
#u222 {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  word-wrap:break-word;
}
#u223 {
  position:absolute;
  left:1469px;
  top:759px;
  width:20px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u224 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u225 {
  position:absolute;
  left:2216px;
  top:131px;
  width:360px;
  height:640px;
  opacity:0.699999988079071;
}
#u225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u226 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u227 {
  position:absolute;
  left:2292px;
  top:303px;
  width:224px;
  height:138px;
  color:#1E1E1E;
}
#u227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:138px;
}
#u228 {
  position:absolute;
  left:2px;
  top:61px;
  width:220px;
  visibility:hidden;
  word-wrap:break-word;
}
#u229 {
  position:absolute;
  left:2334px;
  top:343px;
  width:152px;
  height:39px;
  color:#1E1E1E;
}
#u229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:39px;
}
#u230 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  word-wrap:break-word;
}
#u231 {
  position:absolute;
  left:2292px;
  top:399px;
  width:224px;
  height:1px;
  color:#1E1E1E;
}
#u231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:1px;
}
#u232 {
  position:absolute;
  left:2px;
  top:-8px;
  width:220px;
  visibility:hidden;
  word-wrap:break-word;
}
#u233 {
  position:absolute;
  left:2447px;
  top:411px;
  width:27px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#1E1E1E;
}
#u233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u234 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u235 {
  position:absolute;
  left:2334px;
  top:411px;
  width:27px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#1E1E1E;
}
#u235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u236 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u237 {
  position:absolute;
  left:2398px;
  top:399px;
  width:10px;
  height:40px;
}
#u237_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u237_end {
  position:absolute;
  left:-5px;
  top:23px;
  width:20px;
  height:18px;
}
#u237_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:40px;
}
#u238 {
  position:absolute;
  left:2216px;
  top:99px;
  width:146px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:24px;
}
#u239 {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  white-space:nowrap;
}
