body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1070px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:110px;
  top:80px;
  width:360px;
  height:640px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u1 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:110px;
  top:104px;
  width:360px;
  height:276px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:276px;
}
#u3 {
  position:absolute;
  left:2px;
  top:130px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:204px;
  top:126px;
  width:162px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:22px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:214px;
  top:170px;
  width:150px;
  height:150px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
}
#u7 {
  position:absolute;
  left:2px;
  top:67px;
  width:146px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:110px;
  top:80px;
  width:360px;
  height:25px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:25px;
}
#u9 {
  position:absolute;
  left:2px;
  top:4px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:422px;
  top:84px;
  width:37px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:388px;
  top:86px;
  width:22px;
  height:12px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:12px;
}
#u13 {
  position:absolute;
  left:2px;
  top:-2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:388px;
  top:86px;
  width:16px;
  height:12px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:12px;
}
#u15 {
  position:absolute;
  left:2px;
  top:-2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:384px;
  top:88px;
  width:4px;
  height:8px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:8px;
}
#u17 {
  position:absolute;
  left:2px;
  top:-4px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:146px;
  top:450px;
  width:54px;
  height:51px;
  text-align:left;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:51px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:146px;
  top:410px;
  width:55px;
  height:32px;
  text-align:left;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:32px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:204px;
  top:420px;
  width:10px;
  height:118px;
}
#u22_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u22_end {
  position:absolute;
  left:-5px;
  top:101px;
  width:20px;
  height:18px;
}
#u22_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:118px;
}
#u23 {
  position:absolute;
  left:204px;
  top:476px;
  width:10px;
  height:10px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u24 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:234px;
  top:472px;
  width:53px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:234px;
  top:530px;
  width:53px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:234px;
  top:416px;
  width:53px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:204px;
  top:534px;
  width:10px;
  height:10px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u32 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:204px;
  top:420px;
  width:10px;
  height:10px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u34 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:110px;
  top:670px;
  width:360px;
  height:50px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:50px;
}
#u36 {
  position:absolute;
  left:2px;
  top:17px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:128px;
  top:686px;
  width:85px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:142px;
  top:520px;
  width:55px;
  height:38px;
  text-align:left;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:38px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:420px;
  top:123px;
  width:24px;
  height:24px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u42 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:122px;
  top:119px;
  width:30px;
  height:30px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u44 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:422px;
  top:680px;
  width:30px;
  height:30px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u46 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:506px;
  top:117px;
  width:410px;
  height:96px;
  text-align:left;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:96px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:120px;
  top:46px;
  width:109px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:24px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:110px;
  top:156px;
  width:360px;
  height:35px;
  color:#FFFFFF;
}
#u51_img {
  position:absolute;
  left:-5px;
  top:-3px;
  width:370px;
  height:45px;
}
#u52 {
  position:absolute;
  left:2px;
  top:10px;
  width:356px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:14px;
  top:800px;
  width:200px;
  height:10px;
}
#u53_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u53_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u53_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u54 {
  position:absolute;
  left:1060px;
  top:30px;
  width:10px;
  height:200px;
}
#u54_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u54_end {
  position:absolute;
  left:-5px;
  top:183px;
  width:20px;
  height:18px;
}
#u54_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:200px;
}
