body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1270px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:395px;
  top:438px;
  width:132px;
  height:10px;
}
#u0_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u0_end {
  position:absolute;
  left:115px;
  top:-5px;
  width:18px;
  height:20px;
}
#u0_line {
  position:absolute;
  left:0px;
  top:5px;
  width:132px;
  height:1px;
}
#u1 {
  position:absolute;
  left:537px;
  top:418px;
  width:123px;
  height:51px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:51px;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:120px;
  top:120px;
  width:360px;
  height:640px;
  color:#FFFFFF;
}
#u3_img {
  position:absolute;
  left:-5px;
  top:-3px;
  width:370px;
  height:650px;
}
#u4 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:207px;
  top:346px;
  width:238px;
  height:142px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:142px;
}
#u6 {
  position:absolute;
  left:2px;
  top:63px;
  width:234px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:236px;
  top:381px;
  width:175px;
  height:38px;
  font-size:16px;
  text-align:center;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:38px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:207px;
  top:438px;
  width:238px;
  height:10px;
}
#u9_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_end {
  position:absolute;
  left:221px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_line {
  position:absolute;
  left:0px;
  top:5px;
  width:238px;
  height:1px;
}
#u10 {
  position:absolute;
  left:293px;
  top:457px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:703px;
  top:120px;
  width:360px;
  height:640px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u13 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:703px;
  top:144px;
  width:360px;
  height:276px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:276px;
}
#u15 {
  position:absolute;
  left:2px;
  top:130px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:797px;
  top:161px;
  width:162px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:22px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:807px;
  top:210px;
  width:150px;
  height:150px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
}
#u19 {
  position:absolute;
  left:2px;
  top:67px;
  width:146px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:703px;
  top:120px;
  width:360px;
  height:25px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:25px;
}
#u21 {
  position:absolute;
  left:2px;
  top:4px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:1015px;
  top:124px;
  width:37px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:981px;
  top:126px;
  width:22px;
  height:12px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:12px;
}
#u25 {
  position:absolute;
  left:2px;
  top:-2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:981px;
  top:126px;
  width:16px;
  height:12px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:12px;
}
#u27 {
  position:absolute;
  left:2px;
  top:-2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:977px;
  top:128px;
  width:4px;
  height:8px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:8px;
}
#u29 {
  position:absolute;
  left:2px;
  top:-4px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:739px;
  top:490px;
  width:54px;
  height:51px;
  text-align:left;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:51px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:739px;
  top:450px;
  width:55px;
  height:32px;
  text-align:left;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:32px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:797px;
  top:460px;
  width:10px;
  height:118px;
}
#u34_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u34_end {
  position:absolute;
  left:-5px;
  top:101px;
  width:20px;
  height:18px;
}
#u34_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:118px;
}
#u35 {
  position:absolute;
  left:797px;
  top:516px;
  width:10px;
  height:10px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u36 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:827px;
  top:512px;
  width:53px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:827px;
  top:570px;
  width:53px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:827px;
  top:456px;
  width:53px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:797px;
  top:574px;
  width:10px;
  height:10px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u44 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:797px;
  top:460px;
  width:10px;
  height:10px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u46 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:703px;
  top:710px;
  width:360px;
  height:50px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:50px;
}
#u48 {
  position:absolute;
  left:2px;
  top:17px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:721px;
  top:726px;
  width:85px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:735px;
  top:560px;
  width:55px;
  height:38px;
  text-align:left;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:38px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:1013px;
  top:159px;
  width:24px;
  height:24px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u54 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:715px;
  top:154px;
  width:30px;
  height:30px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u56 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:1015px;
  top:720px;
  width:30px;
  height:30px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u58 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:703px;
  top:192px;
  width:360px;
  height:40px;
  color:#FFFFFF;
}
#u59_img {
  position:absolute;
  left:-5px;
  top:-3px;
  width:370px;
  height:50px;
}
#u60 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:120px;
  top:86px;
  width:289px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:24px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:708px;
  top:86px;
  width:229px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:24px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  white-space:nowrap;
}
#u65 {
  position:absolute;
  left:120px;
  top:20px;
  width:101px;
  height:24px;
  font-size:20px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:24px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u67 {
  position:absolute;
  left:1260px;
  top:10px;
  width:10px;
  height:200px;
}
#u67_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u67_end {
  position:absolute;
  left:-5px;
  top:183px;
  width:20px;
  height:18px;
}
#u67_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:200px;
}
#u68 {
  position:absolute;
  left:10px;
  top:880px;
  width:200px;
  height:10px;
}
#u68_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u68_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u68_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
