body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:910px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:121px;
  top:805px;
  width:170px;
  height:17px;
  text-align:left;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:17px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:82px;
  top:80px;
  width:210px;
  height:21px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:21px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:121px;
  top:774px;
  width:209px;
  height:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:82px;
  top:119px;
  width:360px;
  height:640px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u7 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:82px;
  top:119px;
  width:360px;
  height:25px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:25px;
}
#u9 {
  position:absolute;
  left:2px;
  top:4px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:395px;
  top:124px;
  width:36px;
  height:17px;
  font-family:'Apple SD Gothic Neo';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:17px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:360px;
  top:126px;
  width:22px;
  height:12px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:12px;
}
#u13 {
  position:absolute;
  left:2px;
  top:-2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:360px;
  top:126px;
  width:16px;
  height:12px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:12px;
}
#u15 {
  position:absolute;
  left:2px;
  top:-2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:357px;
  top:128px;
  width:4px;
  height:8px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:8px;
}
#u17 {
  position:absolute;
  left:2px;
  top:-4px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:82px;
  top:144px;
  width:360px;
  height:54px;
  font-size:18px;
  color:#000000;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:54px;
}
#u19 {
  position:absolute;
  left:2px;
  top:16px;
  width:356px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:102px;
  top:154px;
  width:30px;
  height:30px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u21 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:82px;
  top:208px;
  width:360px;
  height:50px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:50px;
}
#u23 {
  position:absolute;
  left:2px;
  top:17px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:108px;
  top:226px;
  width:29px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:82px;
  top:257px;
  width:360px;
  height:50px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:50px;
}
#u27 {
  position:absolute;
  left:2px;
  top:17px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:108px;
  top:275px;
  width:29px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:82px;
  top:306px;
  width:360px;
  height:50px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:50px;
}
#u31 {
  position:absolute;
  left:2px;
  top:17px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:108px;
  top:324px;
  width:29px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:82px;
  top:355px;
  width:360px;
  height:50px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:50px;
}
#u35 {
  position:absolute;
  left:2px;
  top:17px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:108px;
  top:373px;
  width:29px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:82px;
  top:404px;
  width:360px;
  height:50px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:50px;
}
#u39 {
  position:absolute;
  left:2px;
  top:17px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:108px;
  top:422px;
  width:43px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:413px;
  top:220px;
  width:14px;
  height:28px;
  font-size:24px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:28px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:82px;
  top:453px;
  width:360px;
  height:50px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:50px;
}
#u45 {
  position:absolute;
  left:2px;
  top:17px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:108px;
  top:471px;
  width:43px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:413px;
  top:470px;
  width:115px;
  height:10px;
}
#u48_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u48_end {
  position:absolute;
  left:98px;
  top:-5px;
  width:18px;
  height:20px;
}
#u48_line {
  position:absolute;
  left:0px;
  top:5px;
  width:115px;
  height:1px;
}
#u49 {
  position:absolute;
  left:17px;
  top:940px;
  width:200px;
  height:10px;
}
#u49_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u49_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u49_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u50 {
  position:absolute;
  left:900px;
  top:0px;
  width:10px;
  height:200px;
}
#u50_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u50_end {
  position:absolute;
  left:-5px;
  top:183px;
  width:20px;
  height:18px;
}
#u50_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:200px;
}
#u51 {
  position:absolute;
  left:540px;
  top:452px;
  width:180px;
  height:48px;
  font-size:16px;
  color:#000000;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:48px;
}
#u52 {
  position:absolute;
  left:2px;
  top:14px;
  width:176px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:52px;
  top:226px;
  width:20px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u54 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:91px;
  top:772px;
  width:20px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u56 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:91px;
  top:802px;
  width:20px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u58 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:53px;
  top:422px;
  width:20px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u60 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
