body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:950px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:250px;
  top:106px;
  width:360px;
  height:574px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:574px;
}
#u1 {
  position:absolute;
  left:2px;
  top:279px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:250px;
  top:84px;
  width:360px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:25px;
}
#u3 {
  position:absolute;
  left:2px;
  top:4px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:562px;
  top:89px;
  width:36px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:20px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:528px;
  top:91px;
  width:22px;
  height:12px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:12px;
}
#u7 {
  position:absolute;
  left:2px;
  top:-2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:528px;
  top:91px;
  width:16px;
  height:12px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:12px;
}
#u9 {
  position:absolute;
  left:2px;
  top:-2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:524px;
  top:93px;
  width:4px;
  height:8px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:8px;
}
#u11 {
  position:absolute;
  left:2px;
  top:-4px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:250px;
  top:157px;
  width:360px;
  height:10px;
}
#u12_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_end {
  position:absolute;
  left:343px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_line {
  position:absolute;
  left:0px;
  top:5px;
  width:360px;
  height:1px;
}
#u13 {
  position:absolute;
  left:261px;
  top:119px;
  width:40px;
  height:34px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:34px;
}
#u14 {
  position:absolute;
  left:2px;
  top:9px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:254px;
  top:40px;
  width:161px;
  height:24px;
  font-size:20px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:24px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:301px;
  top:125px;
  width:272px;
  height:22px;
  font-size:18px;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:22px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:250px;
  top:163px;
  width:360px;
  height:39px;
  opacity:0.800000011920929;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:39px;
}
#u20 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:330px;
  top:174px;
  width:210px;
  height:16px;
  color:#FFFFFF;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:16px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:652px;
  top:100px;
  width:298px;
  height:390px;
  font-size:14px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:390px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  word-wrap:break-word;
}
